header{
   
    color: rgb(226, 43, 43);
    
    

}
h1{
    display: inline;
    text-align: left;
}
li{
    display: inline;
    text-align: end;
    position: relative;
    left: 78%;
    font-size: 20px;
    
    
}
header a{
    color: red;
    text-decoration: none;
    
}
img{
     
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
    
}
.games{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: darkviolet;



}
main{
    
    color: rgb(212, 0, 117);
}
body{
    background-image: url(../assets/video-juegos.jpg);
    
    
}
h3{
    font-size: 30px;
}
footer{
    color: brown;
}
